.movies-cards {
  margin: 0 auto;
  padding: 0;
  padding: 10px 70px 0;
}

.movies-cards__list {
  margin: 0;
  padding: 71px 0px 28px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  row-gap: 28px;
  column-gap: 24px;
  justify-content: center;
}

.movies-cards__add-button {
  margin: 50px auto 82px;
  padding: 11px 70px 9px;
  background-color: #2f2f2f;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.movies-cards__advice {
  text-align: center;
}

@media screen and (max-width: 908px) {
  .movies-cards {
    padding: 10px 30px 0;
  }

  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 32px;
    column-gap: 30px;
  }

  .movies-cards__add-button {
    margin-bottom: 54px;
  }

  .movie-card__info {
    gap: 10px;
  }
}

@media screen and (max-width: 598px) {
  .movies-cards {
    padding: 10px 10px 0;
  }

  .movies-cards__list {
    padding: 42px 0px 30px;
    row-gap: 12px;
  }

  .movies-cards__add-button {
    margin-top: 47px;
    margin-bottom: 80px;
  }
}
