.notfound {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notfound__title {
  margin: 0;
  padding: 250px 0 10px;
  font-size: 140px;
  font-weight: 400;
  color: #fff;
}

.notfound__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #d9d9d9;
}

.notfound__button {
  margin: 0;
  padding: 184px 0 60px;
  font-size: 14px;
  font-weight: 400;
  color: #4285f4;
  text-align: center;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .notfound__title {
    padding-top: 412px;
  }

  .notfound__button {
    padding-bottom: 222px;
  }
}

@media screen and (max-width: 320px) {
  .notfound__title {
    padding-top: 334px;
    font-size: 80px;
  }

  .notfound__subtitle {
    font-size: 12px;
  }

  .notfound__button {
    padding: 287px 0 30px;
    font-size: 12px;
  }
}
