@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts/font.css');

.app {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  background-color: #202020;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.button:hover {
  opacity: 0.7;
  transition: all .8s ease 0s;
  cursor: pointer;
}

.link:hover {
  opacity: 0.7;
  transition: all .8s ease 0s;
  cursor: pointer;
}

.input:focus, .label:focus-within {
  padding-inline: 5px;
  border-radius: 5px;
  background-color: #000;
  transition: all .3s ease 0s;
  outline: 2px solid #ffd700;
}

.input_invalid {
  color: #ee3465;
  transition: all .3s ease 0s;
}


.input-error {
  padding-top: 3px;
  font-weight: 400;
  font-size: 10px;
  min-height: 12px;
  color: #ee3465;
  height: 12px;
  width: 100%;
}

.button:disabled, .input:disabled {
  opacity: 1;
  cursor: default;
  background-color: #8B8B8B;
}


.section__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.6px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.form-error {
  width: 100%;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  color: #FF004C;
  vertical-align: bottom;
  margin-bottom: 21px;
}


@media screen and (max-width: 598px) {
  .section__title {
    font-size: 18px;
    padding-bottom: 28px;
  }
}

.loader {
  text-align: center;
  margin: 200px 0 0;
}