.signform {
  margin: 0 auto;
  padding: 70px 0;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  max-width: 396px;
}

.signform_logo {
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 38px;
  height: 38px;
}

.signform__title {
  margin: 0;
  padding: 0;
  padding-top: 41px;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.signform__form {
  margin: 0;
  padding: 0;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
}

.signform__input {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
}

.signform__input-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signform__input-label {
  font-weight: 400;
  font-size: 10px;
  color: #8b8b8b;
}


.signform__input-text {
  margin: 0;
  padding: 15px 15px;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #2f2f2f;
}

.signform__input-password {
  color: #ee3465;
}

.signform__button {
  margin: 67px 0 0;
  padding: 13px 0 15px;
  background: #4285f4;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}

.signform__button-login {
  margin: 167px 0 0;
}

.signform__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.signform__links {
  padding-top: 17px;
}

.signform__link-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #8b8b8b;
}

.signform__link {
  font-weight: 400;
  font-size: 14px;
  color: #4285f4;
}

.signform__span {
  padding-top: 3px;
  font-weight: 400;
  font-size: 10px;
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .signform {
    padding: 232px 0;
  }

  .signform__form {
    padding-top: 42px;
  }

  .signform__title {
    padding-top: 40px;
    letter-spacing: 0px;
  }

  .signform__button-login {
    margin: 168px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .signform {
    padding: 56px 0 30px;
    align-items: center;
  }

  .signform__title {
    padding-top: 50px;
  }

  .signform__span {
    padding-top: 2px;
  }

  .signform__input {
    width: 260px;
  }

  .signform__button {
    margin-top: 157px;
    font-size: 12px;
  }

  .signform__button-login {
    margin: 258px 0 0;
  }

  .signform__links {
    padding-top: 16px;
  }

  .signform__link-text {
    font-size: 12px;
  }

  .signform__link {
    font-size: 12px;
  }

  .signform__form {
    padding-top: 82px;
  }
}
